
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background: #AFEEEE;
  /*background-image: linear-gradient(137deg, #D0BAFF 0%, #AD8BF6 27%, #AA88FE 52%, #B77BF6 73%, #D7AAEB 100%);*/
}

.sticky {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 95%
}

.relative{
  position: relative;
  top: 95px;
  width: 95%;
  z-index: 1;
}

.FormDiv {
  border-radius: 25px;
  background: #D5D8DC;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.collapse {
  display: none
}

.collapseOff {
  display: block
}

.scroll-container {
  flex: 1;
  overflow-y: scroll;
  height: 80vh;
}

.scroll-table {
  flex: 1;
  overflow-y: scroll;
  height: 70vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 35%;
  left: 43%;
}

@media screen and (max-width: 425px) {
  .System {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .Tablet {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .Mobile {
    visibility: visible;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: block;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .System {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .Tablet {
    visibility: visible;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: block;
  }

  .Mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .System {
    visibility: visible;
    margin: 10px auto 5px 20px;
    display: block;
  }

  .Tablet {
    visibility: visible;
    margin: 10px auto 5px 20px;
    display: block;
  }

  .Mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}